/*@import "bootstrap-sprockets"; */
@import "bootstrap";

body {
  font-family: Arial, Helvetica, sans-serif;
  background-size: cover;
  background-color: #f7f7f7;
}

h1 {
  font-family: sans-serif;
  margin: 30px;
  font-size: 30px;
}

h2 {
  margin: 30px;
  font-size: 25px;
}

a {
  margin: 5px;
  font-size: 15px;
}

a.sort_link {
  color: #ffffff;
}

a.nav-link {
  margin: 5px;
  padding: 0;
  font-size: 15px;
  list-style: none;
}

.table td {
  padding: 0;
  vertical-align: middle;
  background-color: white;
}
.table th {
  padding: 0;
  background-color: white;
}

.header {
  height: 120px;
}


/*
.container {
  height: 1400px;
}*/

.about1, .about2, .about3, .about4{
  margin: 30px;
  border-top: 1px solid;
  background-color: white;
}

.panel-body {
  font-size: 20px;
  font-weight: lighter;
}
h2.panel-title {
  background-color: white;
}

.top-inquiry {
  margin: 25px;
  font-size: 20px;
  text-align: center;
}

.second-inquiry {
  color: red;
  font-size: 40px;
}

.news {
  text-align: center;
}

img {
  width: 800px;
  height: 300px;
  margin: 10px;
}

p {
  font-size: 20px;
}
#error_explanation {
  color: red;
  list-style: none;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  color: red;
}

li {
  margin: 0;
  padding: 5px;
}

/* footer */

.footer {
  height: 150px;
  margin-top: 60px;
  padding-top: 5px;
  background-color: #28a745;
  color: rgba(0, 0, 0, 0.9);
}

.copyright {
  text-align: center;
}